@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

::selection {
  background-color: rgb(79, 23, 131);
  color: white;
}

/* for Scroll */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgb(173, 126, 217);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(61, 19, 100);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 13, 70);
}
.min-scrollbar::-webkit-scrollbar {
  width: 6px;
}
