@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

::selection {
  background-color: blueviolet;
  color: white;
}

/* for Scroll */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #e8d4d4;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #a05b6a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7a3d4a;
}
.min-scrollbar::-webkit-scrollbar {
  width: 6px;
}
